//colores
$fondoClaro: #fef8f2;
$fondoOscuro: #efe7dd;
$letraFondoClaro: #9d9183;
$letraFondoOscuro: #967a65;
$colorTitulos: #764b36;
$colorTexto: #252525;

//letra
$titulos: "Times New Roman", Times, serif;
$sidebarFontSize: 18px;

//bordes

$bordeClaro: $letraFondoClaro 1.8px solid;
$bordeOscuro: $letraFondoOscuro 1.8px solid;

//////
body {
  margin: 0;
  background-color: white;
  a {
    color: inherit;
    text-decoration: none;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $fondoOscuro; /* color beige */
  padding: 1% 2%;
  height: 10vh;
  position: relative; /* Cambiado de static a relative */
  z-index: 10; /* Asegura que esté encima del sidebar */

  .navbar-brand {
    font-family: $titulos;
    color: $letraFondoOscuro; /* color marrón claro */
  }

  .search-container {
    display: flex;
    align-items: center;
    background-color: $fondoClaro;
    border-radius: 25px;
    padding: 5px 15px;
    width: 300px;
    height: 30px;
  }

  .search-input {
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent;
    flex-grow: 1;
    color: $letraFondoClaro; /* gris claro */

    &::placeholder {
      color: $letraFondoClaro; /* color placeholder */
    }
  }
  .search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    svg {
      width: 20px;
      stroke: $letraFondoClaro;
      fill: $letraFondoClaro;

      stroke-linecap: round;
      stroke-linejoin: round;
      cursor: pointer;
    }
  }

  .navbar-icons {
    display: flex;
    gap: 1em;

    svg {
      width: 5rem;
      height: 2rem;
      stroke: $letraFondoOscuro;
      stroke-width: 2em;
      fill: none;
      stroke-linecap: unset;
      stroke-linejoin: initial;
      cursor: pointer;
      &:hover {
        fill: $letraFondoOscuro;
      }
    }
  }
}

.sidebar {
  position: absolute; /* Cambia de fixed a absolute */
  left: 0;
  height: 100%; /* Resta la altura del navbar */
  width: 200px; /* Ancho del sidebar */
  background-color: $fondoClaro; /* Color de fondo */
  padding: 20px;
  ul {
    margin-top: 15vh;
    list-style-type: none;
    padding: 0;
    li {
      margin-bottom: 20px;
      a {
        color: $letraFondoOscuro;
        font-size: $sidebarFontSize;
        &:hover {
          color: $letraFondoClaro;
          text-decoration: underline;
        }
      }
    }
  }

  .filtroPrecio {
    width: 100%;
    display: flex;
    margin: 30px 0 35px;
    .field {
      width: 100%;
      height: 45px;
      align-items: center;
      font-size: $sidebarFontSize;
      color: $letraFondoOscuro;
      input {
        width: 4rem;
        border-radius: 1em;
        border: $bordeClaro;
        padding: 5px 10px 5px;
        text-align: right;
        font-size: 15px;
        outline: none;
        &:focus {
          border-color: $letraFondoOscuro;
          box-shadow: 0 0 0 0.2rem rgba($letraFondoOscuro, 0.5);
        }
      }
    }
  }
}
.conNavLateral {
  margin-left: 220px;
}
.container {
  margin-top: 1.5rem;
  padding-left: 5%;
  margin-right: 5%;
  justify-content: center;
  align-items: center;
}
.tituloEnPag {
  cursor: pointer;
  width: fit-content;

  .textoTitulo {
    position: relative;
    color: $colorTitulos;

    letter-spacing: 1px;
  }

  svg {
    transform: translateX(-9px);
    transition: all 0.3s ease;
  }

  &:hover svg {
    transform: translateX(0);
  }

  &:active svg {
    transform: scale(0.8);
  }

  .textoTitulo:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $colorTitulos;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover .textoTitulo:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;

  .imgFlex {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    .card {
      flex: none;
      width: 14.5%;
    }
  }

  .carousel-button {
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    background-color: $fondoClaro;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 10;

    &.left {
      margin-left: 1%;
      left: 10px;
      color: $letraFondoClaro;
    }

    &.right {
      right: 10px;
      color: $letraFondoClaro;
    }

    &:hover {
      background-color: $fondoOscuro;
      color: $letraFondoOscuro;
    }
  }
}

.card {
  box-sizing: border-box;
  backdrop-filter: blur(6px);
  cursor: pointer;
  transition: all 0.5s;
  user-select: none;
  margin: 1%;
  border-radius: 1rem;
  border: $bordeClaro;
  overflow: hidden;

  &:hover {
    border: $bordeOscuro;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }

  img {
    object-fit: cover;
    width: 100%;
  }
  .texto {
    padding: 2.5%;
  }
}
.gridProductos {
  display: grid;

  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: min-content;
  gap: 2.15em;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content label {
  display: block;
  margin: 5px 0;
}





@media (max-width: 600px) {
  .gridProductos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 600px) and (max-width: 950px) {
  .gridProductos {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 950px) and (max-width: 1300px) {
  .gridProductos {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1300px) and (max-width: 1600px) {
  .gridProductos {
    grid-template-columns: repeat(5, 1fr);
  }
}
